@import url('https://fonts.googleapis.com/css?family=Lobster|Quicksand&display=swap');

:root {
    --main-color: #00008B;
    font-family: 'Quicksand', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}


h1, h2, p, section, header, main,
footer {
    margin: 0;
    padding: 0;
}

header nav .logo  {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--main-color);
    text-decoration: none palevioletred ;
 }

header nav .logo a {
     text-align: left;
    text-transform: uppercase;
    text-decoration: none;
 }
 header nav p {
     text-align:center;
 }
 
 header nav .menu {
    display: flex;
    flex: 1;
    padding: 20px;
    list-style-type: none;
    justify-content: space-around;
    margin: 0px;
 }

 header nav .menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a:hover {
    border: 1px solid var(--main-color);
}

@media (min-width: 800px) {
    header nav {
        display: flex;
        
    }
}
header section {
    background-image: url(../img/ivent.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    
}

header section h1 {
    font-family: 'Lobster', cursive;
        color: var(--main-color);
        margin: 8px;
}    


 main .musicians {
     background-image: url(../img/dark_blue_background.jpg);
     min-height: 400px;
     max-width: 550px;
     
     background-size: cover;
     background-position: left;
     display: flex;
     align-items: flex-start;
     flex-direction: row;
     justify-content: flex-start;
     margin: 20px;
     
}
 

main  .musicians img { float: left;
     width: 15%;
     margin: 10px;;
}

main .musicians p {
     font-family: 'Quicksand', sans-serif;;
    font-size: 2rem;
    color: lavender;
    text-align: start; 
 }

 @media (max-width: 900px) {
    main .musicians { 
        margin: 0px;
    }
}   


 main .muzyky 
 {
    float: right;
    width: 420px;
    height: 452px;
    margin: 0 10px 0 0;
 }

 @media (max-width: 910px) {
    main .muzyky {
      display: none;
    }
}  

 main .tango { float: left;
    width: 420px;
    height: 400px;
    margin: 0 0 0 20px;
 }

 @media (max-width: 900px) {
    main .tango {
       display: none;
    }
}  

main .dancesection {
     background-image: url(../img/dark-lighter-blue.png);
     min-height: 400px;
     max-width: 550px;
     background-size: cover;
     background-position: left;
     display: flex;
     align-items: flex-start;
     flex-direction: row;
     justify-content: flex-start;
     margin: 20px 0 0 400px;
}

@media (max-width: 900px) {
    main .dancesection {
       margin: 0px;
    }
}  

main .dance { float: left;
    width: 15%;
    margin: 10px;
}

main .dancesection p {
    font-family: 'Quicksand', sans-serif;;
   font-size: 2rem;
   color: lavender;
   margin: 10px;
   text-align: unset; 
}

main .drone_with_people { float: right;
    width: 420px;
    height: 400px;
 }

 @media (min-width: 900px) {
    main .drone_with_people{
        display: flex;
        
    }
}  

 @media (max-width: 900px) {
    main .drone_with_people{
        display: none;
    }
}  

main .dronesection {
    background-image: url(../img/dark_blue_background.jpg);
    min-height: 400px;
    max-width: 550px;
    
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
}

@media (max-width: 900px) {
    main .dronesection
     {
       margin: 0px;
    }
}  

main  .dronesection img { float: left;
    width: 15%;
    margin: 10px;;
}

main .dronesection p {
    font-family: 'Quicksand', sans-serif;;
   font-size: 2rem;
   color: lavender;
   margin:  10px;
   text-align: left; 
}
 
form .name 
{
    margin: 20px 0 0 150px;
    color:var(--main-color);
}

input[type=text], select 
{
 width: 580px;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid lavender;
 border-radius: 4px;
 box-sizing: border-box;
}

form .post {
    margin: 20px 0 0 40px;
   color:var(--main-color);
}

input[type=email], select {
   width: 580px;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid lavender;
   border-radius: 4px;
   box-sizing: border-box;
 }

 form .message 
 {  margin: 20px 0 0 70px;
   color:var(--main-color);
}

input[type=submit] {
 width: 580px;
background-color: lavender;
 color: var(--main-color);;
 padding: 12px 20px;
 margin: 8px 0;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}

@media (max-width: 950px) { input[type=text],  input[type=email],  input[type=submit] ,  input[type=message]
    {
    max-width: 250px;
    width: 150%;
   }
} 

form .button {
    margin: 20px 0 0 225px;
}

@media (max-width: 950px) { form .button
     {
       margin: 10px;
       width: 100%;
    }
}  

input[type=submit]:hover {
 background-color: lightgrey;
}

@media (max-width: 950px) {form .name , form .post, form .message 
    { 
  margin: 10px;     
    }
}  

section h2 
{
   font-family: 'Quicksand';
   font-size: 2rem;
   color: var(--main-color);
   text-align: center;
   margin: 50px;
}

#contact .card:hover i,#contact .card:hover h4,p,a
{
    color: var(--main-color);;
}

 #contact h3
{
    color: var(--main-color);
}


@media (min-width: 660px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 980px) {
    .main { max-width: 100%;
    }
}

